body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #7A4E9F;
    font-size: 2rem;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

li {
    font-size: 1.1rem;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #7A4E9F;
    color: white;
}

p {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-top: 20px;
}

.finalizar-compra {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #7A4E9F;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.finalizar-compra:hover {
    background-color: #9b61b3;
}
